################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
jwt/obj/
jwt/bin/Debug/
MongoData/obj/
MongoData/bin/Debug/